.loginSignupContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: fit-content;
  
}

.log-SigText {
  margin: 20px 0;
  font-weight: bold;
  color: gray;
  align-self: center;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}
