/* hotel-adding-page.css */

.hotel-adding-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.hotel-adding-page h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.hotel-adding-page form {
  display: grid;
  gap: 10px;
}

.hotel-adding-page label {
  font-weight: bold;
}

.hotel-adding-page input,
.hotel-adding-page textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.anhImgUploadBtn{
  margin-top: 10px;
  display: flex;
  background-color: #0071c0;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 80px;
  justify-content: center;
  cursor: pointer;
  transition: 1s ease;
}

.anhImgUploadBtn:hover {
  background-color: blue;
}

.hotel-adding-page button[type="submit"] {
  background-color: #0071c0;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 1s ease;
}

.hotel-adding-page button[type="submit"]:hover {
  background-color: blue;
}
