/* HotelAddingPage */
.HotelAddingPage {

  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.HotelAddingPage form {
  display: flex;
  flex-direction: column;
}

.HotelAddingPage h2 {
  margin-bottom: 10px;
  font-weight: bold;
}

/* hapItems */
.hapItems {
  margin-bottom: 20px;
  font-weight: bold;
}

.hapItem {
  margin-bottom: 10px;
}

.hapItem label {
  display: inline-block;
  width: 120px;
}

.hapItem input,
.hapItem textarea {
  margin: 10px 0 10px 0;
  padding: 5px;
  width: 80%;
}

.hapItem button {
  margin-top: 10px;
}


/* RoomItem */
.roomItem {
  margin-top: 20px;
}

.roomItemInner {
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.roomItemInner .hapItem {
  margin-bottom: 10px;
}



.roomItemInner button {
  margin-top: 10px;
}

/* Submit Button */
.HotelAddingPage button[type="submit"] {
  padding: 10px 20px;
  background-color: #0071c0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:  1s ease;
}

.HotelAddingPage button[type="submit"]:hover {
  background-color: blue;
}
