.navbar{
  height: 50px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1124px;
  color: #0071c0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 800;
  
}

.logoName{
  color: blue;
}

.logoType{
  color: #0071c0;
}

.navButton{
  margin-left: 15px;
  border: none;
  border-radius: .13rem;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  background-color: #0071c0;
}